body {
    background-color: azure;
}

section h3 {
    font-size: 30px
}
section h3 {
   color: darkblue
}
section-two {
    font-size: 14px
}
section-three {
    font-size: 8px 
}
section-h2 {
    color: #657ba2
    
}



