body{
    background-color: beige;
}

h1 {
    color: crimson;
}
h2 {
    font-size: 20px;
}
section h2 {
    color: blue;
}

.green-text 
{
    color: green;
}

.pink-bg {
    background-color:pink;
}