*{
    padding: 0;
    margin: 0;    
}

.box-one{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 120px;
    align-items: center;
}

.icon {
  height: 276px;
    width: 280px;  
    display: flex;
    justify-content: center;
}

.box-two{
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
}

.notable-one {
    padding-bottom: 15px;
    font-size: 28px;
    font-family: notable;
}

.notable-two {
    padding-bottom: 10px;
    font-size: 28px;
    font-family: notable;
    max-width: 700px;
    width: 95%;
}

.manrope {
    padding-bottom: 15px;
    font-size: 20px;
    font-family: manrope;
    text-align: center;
  
}
.gallery {
    display: flex;
    width: 100%;
    padding-bottom: 80px;
    padding-left: 16px;
    padding-right: 16px;  
    justify-content: center;
    gap: 50px;
    
}

.gallery img {
    height: 499px;
    width: 323px;  
}

.selfie {
   display: flex;
    padding-bottom: 25px;
    padding-left: 300px;
    padding-right: 300px;  
    justify-content: center;
    height: 300px;    
}
.about {
    font-size: 15px;
    font-family: manrope;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 300px;
    padding-right: 300px; 
    padding-bottom: 100px;
}

.soc-bar{
    display: flex;
    width: 100%;
    padding-left: 20px; 
    justify-content: center;
    gap: 20px;  
    align-items: center;    
}

.social {
    font-family: manrope;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
    align-items: center;
}

.soc-bar img {
    width: 100px;
}


/*mobile view*/
@media only screen and (max-width: 768px) {
    /* gallery*/
    
    .gallery {
        align-items: center;
        flex-direction: column;  
}
}
    
    
    
    







